*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    color: $text-clr;
    background: $bg-clr;
    font-family: $para-txt;
}

html {
    scroll-behavior: smooth;
    transition: 0.3s ease;
}
a,
a:active {
    text-decoration: none;
    color: inherit;
}

.root {
    max-width: 1440px;
    margin: 0 auto;
}
span {
    display: inline-block;
}
input,
input:active,
textarea:active,
textarea {
    $input-bg: #343434;
    border: none;
    outline: none;
    display: inline-block;
    font-family: $para-txt;
    font-size: 14px;
    padding: 0.7rem 1rem;
    margin: 1.2rem 1rem;
    background-color: $input-bg;
    color: #febc82;
    font-weight: 500;
    margin-left: 0;
}
