.menu-icon {
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    &--line-one,
    &--line-two,
    &--line-three {
        display: block;
        width: var(--width, 36px);
        height: 2px;
        background-color: $bodycopy;
        border-radius: 2px;
        margin-block: 8px;
        transition: opacity 0.5s ease, 0.3s ease-in;
        will-change: transform;
    }
    &--line-two {
        --width: 30px;
    }

    &--line-three {
        --width: 24px;
    }
    &.active {
        > :nth-child(1) {
            transform: translateY(14px) rotateZ(45deg);
        }
        > :nth-child(2) {
            transform: translateX(100%);
            opacity: 0;
        }

        > :nth-child(3) {
            --width: 36px;
            transform: translateY(-6px) rotateZ(-45deg);
        }
    }
}
