.skills {
    &__info {
        font-size: 1.3rem;
        line-height: 1.5rem;
        letter-spacing: 0.15px;
        margin-top: 2.8rem;
        margin-left: 0.4rem;
        will-change: clip-path, transform;
        transition: $anime-duration $ease;
        transition-delay: 0.8s;
        transform: translateY(-1rem);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        opacity: 0;
        &.animated {
            // animation: slideDownText $anime-duration $ease 0.3s;
            // animation-fill-mode: forwards;
            transform: translateY(0);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            opacity: 1;
        }
    }
    &__showCase {
        margin-left: 1.5rem;
        margin-top: 4rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &__item {
            display: grid;
            justify-content: center;
            row-gap: 1rem;
            margin-block: 2rem;
            margin-right: 2.5rem;

            @media screen and (max-width: 400px) {
                row-gap: 0.5rem;
            }
            &:last-child {
                margin-right: 0;
            }
            @media screen and (max-width: 400px) {
                margin-right: 0.8rem;
            }
            .skills-text {
                text-align: center;
            }
        }
    }
}
